@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Krzysztof Godlewski</h3>

<address>
    Męczyn Kolonia 3<br />
    08-124 Mokobody<br />
    <abbr title="Phone">T:</abbr>
    503 562 391
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:k.godlewski94@gmail.com">k.godlewski94@gmail.com</a><br />
</address>
